* {
    margin: 0;
    padding: 0;
  }
  
  .main {
    background-color: rgb(250, 250, 250);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    gap: 20px;
  }
  
  .score {
    width: 150px;
    padding-left: 55px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(10, 30px);
    width: max-content;
    gap: 1px;
    border: 3px solid #03b781;
  }
  
  .cell {
    width: 30px;
    height: 30px;
    background-color: #000000;
  }
  
  .food {
    background-color: blue;
  }
  
  .snake {
    background-color: red;
  }
  
  .snake-head {
    background-color: red;
  }

  .hovere {
    width: 30px;
    height: 30px;
    background-color: green;
  }

  .butn {
    height: 30px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
  }

  .alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d8091a;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .congratulations {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }